.ternary__section {
	padding: 40px 100px 40px 100px;
    /* light yellow */
	border: 2px red solid;
    border-radius: 30px;
    background-color: #e5ccc9;
}

.ternary__section h2 {
    border: 2px red solid;
    border-radius: 20px;
    padding: 10px;
}