.es6Intro__container {
	display: flex;
	flex-direction: column;
	padding: 10px, 0;
	width: 100%;
}

.es6__section {
	padding: 40px 100px 40px 100px;
	border: 2px;
	border-width: 2px;
	border-style: 20px double red;
	background-color: peachpuff;
}

.es6Intro__title {
	border: 2cm;
	border-color: beige;
	background-color: beige;
}

.es6Intro__section p {
	font-size: 1.5rem;
}
