.started__content {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.started__section {
	padding: 40px 100px 40px 100px;
	border: 2px red solid;
	border-width: 2px;
	border-style: dotted;
	background-color: snow;
}

.started__section h2 {
	padding: 10px;
	border: 8px solid;
}

.started__section p {
	padding: 20px;
	display: flex;

	font-size: 1.5rem;
}

.started__link {
	background-color: red;
}

.started__image__container {
	padding: 20px 0px;
}

.started__image__container h3 {
	padding: 8px;
	text-decoration: underline;
}

.started__image__container h4 {
	font-size: 2rem;
	color: magenta;
}

.started__image {
	height: 80vh;
	width: 100%;
}
