
.af__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px, 0px ;
}

.af__content {
    padding: 5px;
    border: 10px;
    border-style: groove;
    border-color: silver ;
}

.af__section {
    padding: 40px 100px 40px 100px;
    border-bottom: 10px;
    border-style: groove;
    border-color: silver ;
    background-color: blanchedalmond;
}

.af__section h2 {
    text-decoration: underline;
    padding-bottom: 5px;
}

