.af__container {
    display: flex;
    flex-direction: column;
    padding: 10px, 0px ;
}

.af__content {
    padding: 5px;
    border: 10px;
    border-style: groove;
    border-color: silver ;
}

.af__section {
    padding: 40px 100px 40px 100px;
    border-bottom: 10px;
   
    border-style: groove;
    border-color: silver ;
    
}

