
.variable__content{
    width: 100%;
}

.variable__container {
    display: flex;
    flex-direction: column;
    padding: 10px ;
}

.variable__section {
    padding: 40px 100px 40px 100px;
    background-color: azure;
    border: 4px;
    border-color: gold;
    border-style: inset;
}

.variable__section h1 {
    padding: 5px;
    margin: 10px;
    border: 4px;
    border-color: gold;
    border-style: inset;
}

.variable__section h2 {
    padding: 5px;
    margin: 10px;
    border: 4px;
    border-color: gold;
    border-style: inset;
}

.variable__section img {
    padding: 10px;
}