.home__title {
	display: flex;
	justify-content: center;
	background-color: seashell;
}

.home__about {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	background-color: snow;
}

.home__about--h3 {
	font-size: 4rem;
}

.home__about__section {
	display: flex;
	font-size: 1.6rem;
	word-spacing: 1ch;
	padding: 120px 80px 120px;
}

.home__about__section__test {
	display: flex;
	flex-wrap: wrap;
	font-style: italic;
}

.home__hi__img {
	float: left;
	padding: 0 2px 0 0;
	height: 10rem;
	width: 10rem;
}

.home__about__section--anchor {
	background-color: red;
	color: white;
}
