.router__container {
    padding: 40px 100px 40px 100px;
    /* Honeydew */
    background-color: #f0fff0 ;
}

.router__section {
    border: 3px solid #FF8080;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.router__section h1 {
    border: 3px solid #FF8080 ;
    padding: 10px;
    margin: 10px;
}

.router__section h2 {
    border: 3px solid #FF8080;
    padding: 10px;
    margin: 10px;
}